*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #334d66;
	font: 14px Tahoma;
}

#main_wrapper
{
	background-color: #fff;
	border: 2px solid black;
	border-radius: 4px;
	width: 65%;
	margin: 50px auto;
	text-align: center; 
}

#main_section div img
{
	width: 150px;
	height: 75px; 
}


#main_section div 
{
	display: inline-block;
	background-color: #714939;
	margin: 3px;
	border: 1px solid black;
	border-radius: 8px;
	padding: 15px;
	text-align: center;
	width: 18%;
	vertical-align: top;
	height: 90px;
}

#top_header,#main_footer
{
	background-color: #333366; 
	color: #fff;
	text-align: center;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px; 
}

#main_section div h1
{
	font: bold 12px Tahoma;
	color: white;
}

#main_footer
{
	font-weight: bold; 
}